h1 {
  margin: 0;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.test-border {
  border: 2px red dashed;
}

#logo {
  font-size: 13em;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(2, 0, 36, 1) 100%
  );
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  margin: 0;
}

button {
  font-size: 1.5em;
  width: 100%;
  min-width: 200px;
  margin-top: 5px;
  border-radius: 0.5em;
  border: none;
  box-shadow: 5px 5px 10px black;
}

#banner {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#about {
  padding: 5%;
}
#new-game {
  padding: 5%;
}

#app {
  font-size: 1.2em;
  background-color: rgb(186, 202, 218);
  width: 400px;
  min-height: 100vh;
}
