$card-width: 290px;

body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(2, 0, 36, 1) 100%
  );
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0;
}

html {
  margin: 0;
}

p {
  padding: 0 5%;
}

#app {
  font-size: 1.2em;
  // background: lightblue;
  background-repeat: repeat;
  width: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#logo {
  font-size: 13em;
}

#background {
  position: absolute;
  z-index: -1;
  width: 399px;
  height: 100vh;
  overflow: hidden;
}

#banner {
  background-color: black;
  color: red;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 400px;
}

.menu-button {
  appearance: none;
  -webkit-appearance: none;
  color: black;
  background-color: white;
  font-size: 1.5em;
  font-weight: 400;
  width: $card-width;
  margin: 0 auto 5% auto;
  border-radius: 0.5em;
  border: none;
  box-shadow: 5px 5px 10px black;

  img {
    height: 0.8em;
    width: 0.8em;
    margin-left: 0.5em;
  }
}

.greyed-out {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
